{% load static %}
<div>
    <link rel="stylesheet" href="{ %static '/style/style.css'%}">
    <div class="home-container">
      <div class="home-home">
        <div class="home-group56">
          <div class="home-header">
            <img src="." alt="BGI189" class="home-bg" />
            <div class="home-nav-items">
              <div class="home-headermenu-default">
                <span class="home-text"><span>How it works</span></span>
              </div>
              <div class="home-headermenu-default1">
                <span class="home-text002"><span>About us</span></span>
              </div>
              <div class="home-headermenu-default2">
                <span class="home-text004"><span>Partners</span></span>
              </div>
              <div class="home-headermenu-default3">
                <span class="home-text006"><span><li class="active"><a href="index.html">Home</a></li>
                  <li><a href="contact.html">Contact</a></li>
                  <li><a href="accounts/register">Register</a></li></span></span>
              </div>
              <div class="home-headermenu-default4">
                <span class="home-text008"><span>Support</span></span>
              </div>
              <div class="home-adjustable-primary-medium">
                <span class="home-text010"><span>Buy now</span></span>
              </div>
              
            </div>
            <div class="home-group27">
              <img src="/framei189-saj8.svg" alt="FrameI189" class="home-frame" />
              <span class="home-text012"><span>Farmino</span></span>
            </div>
          </div>
          <div class="home-hero">
            <img src="https://www.figma.com/file/ucfkxdEIFOgTjTLjhUDww1/Farmino%3A-Organic-Farm-UI-kit-(Community)?type=design&node-id=211-2529&mode=design&t=9nGwcIjI3gndxKOf-4" alt="image1892" class="home-image" />
            <div class="home-frame13">
              <div class="home-frame10">
                <div class="home-frame9">
                  <span class="home-text014">
                    <span>
                      <span>Organic farming reimagined</span>
                      <br />
                      <span>with farmino</span>
                    </span>
                  </span>
                  <span class="home-text019">
                    <span>
                      Luctus felis sit lectus tristique diam ornare bibendum. Arcu
                      auctor suspendisse luctus amet bibendum pellentesque lorem.
                      Malesuada lobortis tristique tortor,
                    </span>
                  </span>
                </div>
                <div class="home-frame11">
                  <button class="home-button-contained">
                    <span class="home-text021"><span>Get Started</span></span>
                  </button>
                  <button class="home-button-outline">
                    <span class="home-text023">
                      <span>Start free trial</span>
                    </span>
                  </button>
                </div>
              </div>
              <div class="home-image1"></div>
            </div>
          </div>
        </div>
        <div class="home-steps9">
          <img src="{% static 'images/Picture1.png'%}" alt="BG1892" class="home-bg1" />
          <div class="home-group2">
            <div class="home-title5col-left-align">
              <span class="home-text025">
                <span>
                  <span>Mission we</span>
                  <br />
                  <span>are working on</span>
                </span>
              </span>
            </div>
            <span class="home-text030">
              <span>
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                  enim ad minim veniam, quis nostrud exercitation ullamco laboris
                  nisi ut.
                </span>
                <br />
                <span></span>
                <br />
                <span>
                  Aliquip ex ea commodo consequat. Duis aute irure dolor in
                  reprehenderit in voluptate velit esse cillum dolore eu fugiat
                  nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                </span>
              </span>
            </span>
            <div class="home-frame131">
              <div class="home-frame55">
                <div class="home-item1">
                  <div class="home-frame81">
                    <img src="." alt="image731892" class="home-image73" />
                    <img
                      src="."
                      alt="Rectangle6041892"
                      class="home-rectangle604"
                    />
                  </div>
                  <span class="home-text037"><span>Organic making</span></span>
                </div>
                <div class="home-item11">
                  <div class="home-frame82">
                    <img src="." alt="image731892" class="home-image731" />
                    <img
                      src="."
                      alt="Rectangle6041892"
                      class="home-rectangle6041"
                    />
                  </div>
                  <span class="home-text039">
                    <span>Certified products</span>
                  </span>
                </div>
              </div>
              <div class="home-item12">
                <div class="home-frame83">
                  <img src="." alt="image731892" class="home-image732" />
                  <img
                    src="."
                    alt="Rectangle6041892"
                    class="home-rectangle6042"
                  />
                </div>
                <span class="home-text041"><span>Fast delivery</span></span>
              </div>
            </div>
          </div>
          <div class="home-group6">
            <img src="Picture1.png" alt="Picture1.png" class="home-image2" />
          </div>
          <div class="home-frame551">
            <div class="home-frame87">
              <img src="Picture2.png" alt="image751892" class="home-image75" />
            </div>
            <div class="home-frame88">
              <img src="picture3.png" alt="image761892" class="home-image76" />
            </div>
          </div>
        </div>
        <div class="home-frame56">
          <span class="home-text043"><span>Choose from the best</span></span>
          <div class="home-frame7">
            <div class="home-frame51">
              <div class="home-group8">
                <img src="." alt="image701892" class="home-image70" />
                <img src="Picture4.png" alt="Picture4.png" class="home-rectangle602" />
                <span class="home-text045"><span>Agriculture Leader</span></span>
                <span class="home-text047">
                  <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et.
                  </span>
                </span>
              </div>
            </div>
            <div class="home-frame52">
              <div class="home-group9">
                <img src="." alt="image711892" class="home-image71" />
                <img src="Picture5.png" alt="Picture5.png" class="home-rectangle6021" />
                <span class="home-text049"><span>Quality Standards</span></span>
                <span class="home-text051">
                  <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et.
                  </span>
                </span>
              </div>
            </div>
            <div class="home-frame53">
              <div class="home-group10">
                <img src="." alt="image721892" class="home-image72" />
                <img src="Picture6.png" alt="Picture6.png" class="home-rectangle6022" />
                <span class="home-text053"><span>Organic Services</span></span>
                <span class="home-text055">
                  <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et.
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="home-frame552">
          <div class="home-frame111">
            <div class="home-frame12">
              <span class="home-text057">
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et.
                </span>
              </span>
              <img src="." alt="image671892" class="home-image67" />
              <span class="home-text059"><span>Kyla Harmon</span></span>
            </div>
            <div class="home-frame112">
              <span class="home-text061">
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et.
                </span>
              </span>
              <div class="home-frame77">
                <img src="." alt="image681892" class="home-image68" />
              </div>
              <span class="home-text063"><span>Ryan Menzie</span></span>
            </div>
            <div class="home-frame132">
              <span class="home-text065">
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et.
                </span>
              </span>
              <div class="home-frame78">
                <img src="." alt="image691892" class="home-image69" />
              </div>
              <span class="home-text067"><span>Aldrich Fowler</span></span>
            </div>
          </div>
          <span class="home-text069 FarmH1"><span>Testimonials</span></span>
          <div class="home-group54">
            <img src="." alt="Ellipse1151892" class="home-ellipse115" />
            <img src="." alt="Ellipse1161892" class="home-ellipse116" />
            <img src="." alt="Ellipse1171892" class="home-ellipse117" />
            <div class="home-group53">
              <img src="." alt="Ellipse1181892" class="home-ellipse118" />
              <img src="." alt="Ellipse1191892" class="home-ellipse119" />
            </div>
          </div>
        </div>
        <div class="home-frame6">
          <span class="home-text071"><span>Rediscover the taste</span></span>
          <div class="home-frame2">
            <div class="home-teammember">
              <div class="home-info">
                <span class="home-text073"><span>Tomatoes</span></span>
              </div>
              <img src="Picture7.png" alt="image1892" class="home-image3" />
            </div>
            <div class="home-teammember1">
              <div class="home-info1">
                <span class="home-text075"><span>Carrots</span></span>
              </div>
              <img src="Picture8.png" alt="image1892" class="home-image4" />
            </div>
            <div class="home-teammember2">
              <div class="home-info2">
                <span class="home-text077"><span>Potatoes</span></span>
              </div>
              <img src="Picture9.png" alt="image1892" class="home-image5" />
            </div>
            <div class="home-teammember3">
              <div class="home-info3">
                <span class="home-text079"><span>Ladyfingers</span></span>
              </div>
            </div>
          </div>
          <div class="home-frame3">
            <img src="." alt="Ellipse1071892" class="home-ellipse107" />
            <img src="." alt="Ellipse1081892" class="home-ellipse108" />
            <img src="." alt="Ellipse1091892" class="home-ellipse109" />
            <img src="." alt="Ellipse1101892" class="home-ellipse110" />
          </div>
        </div>
        <div class="home-frame89">
          <div class="home-frame71">
            <div class="home-frame50">
              <img src="." alt="image431892" class="home-image43" />
              <img
                src="Picture11.png"
                alt="IconFeatherIcon2082" height="500" width="400" 
                class="home-icon-feather-icon"
              />
            </div>
            <div class="home-frame511">
              <span class="home-text081">
                <span>Everyone should have access to nutritious food</span>
              </span>
              <span class="home-text083">
                <span>
                  <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut.
                  </span>
                  <br />
                  <span></span>
                  <br />
                  <span>
                    Aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat
                    nulla pariatur.
                  </span>
                </span>
              </span>
              <div class="home-adjustable-primary-medium1">
                <span class="home-text090"><span>Buy now</span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="home-frame90">
          <div class="home-group55">
            <div class="home-group271">
              <div class="home-frame21">
                <img src="." alt="Ellipse61972" class="home-ellipse6" />
                <img
                  src="/th24outline1972-nuwh.svg"
                  alt="th24Outline1972"
                  class="home-th24outline"
                />
              </div>
              <span class="home-text092"><span>Socials</span></span>
              <img
                src="/iconsfacebook1972-wzz.svg"
                alt="IconsFacebook1972"
                class="home-icons-facebook"
              />
              <img
                src="/iconstwitter1972-378f.svg"
                alt="IconsTwitter1972"
                class="home-icons-twitter"
              />
              <div class="home-icons-instagram">
                <img src="/maski197-edlqg.svg" alt="MaskI197" class="home-mask" />
                <img src="." alt="MaskI197" class="home-mask1" />
              </div>
              <div class="home-icons-linked-in">
                <div class="home-group">
                  <div class="home-postlinkedin">
                    <img
                      src="/vectori197-j7f.svg"
                      alt="VectorI197"
                      class="home-vector"
                    />
                  </div>
                </div>
              </div>
              <div class="home-group28">
                <div class="home-frame18">
                  <img src="." alt="Ellipse61972" class="home-ellipse61" />
                  <img
                    src="/openmail24outline1972-2due.svg"
                    alt="openmail24Outline1972"
                    class="home-openmail24outline"
                  />
                </div>
                <span class="home-text094"><span>Email</span></span>
                <span class="home-text096"><span>contact@flex.co</span></span>
              </div>
              <div class="home-group30">
                <div class="home-frame20">
                  <img src="." alt="Ellipse61972" class="home-ellipse62" />
                  <img
                    src="/locationpin24outline1972-5to7.svg"
                    alt="locationpin24Outline1972"
                    class="home-locationpin24outline"
                  />
                </div>
                <span class="home-text098"><span>Office</span></span>
                <div class="home-group34">
                  <span class="home-text100">
                    <span>1686, Geraldine Lane</span>
                  </span>
                  <span class="home-text102">
                    <span>New York, NY 10013</span>
                  </span>
                </div>
              </div>
              <div class="home-group29">
                <div class="home-frame19">
                  <img src="." alt="Ellipse61972" class="home-ellipse63" />
                  <img
                    src="/call24outline1972-du5u.svg"
                    alt="call24Outline1972"
                    class="home-call24outline"
                  />
                </div>
                <span class="home-text104"><span>Phone</span></span>
                <span class="home-text106"><span>+7-843-672-431</span></span>
              </div>
            </div>
            <div class="home-frame22">
              <img src="." alt="Rectangle181972" class="home-rectangle18" />
              <div class="home-input">
                <div class="home-input1">
                  <div class="home-inputand-label">
                    <span class="home-text108"><span>Email</span></span>
                    <div class="home-input2">
                      <div class="home-content">
                        <span class="home-text110">
                          <span>pat@shuffle.dev</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="home-input3">
                <div class="home-input4">
                  <div class="home-inputand-label1">
                    <span class="home-text112"><span>Message</span></span>
                    <div class="home-input5">
                      <div class="home-content1">
                        <span class="home-text114">
                          <span>Your message...</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="home-button">
                <span class="home-text116"><span>Send</span></span>
              </button>
            </div>
          </div>
        </div>
        <div class="home-footermain">
          <img src="." alt="BackgroundI203" class="home-background" />
          <div class="home-footer-ui">
            <span class="home-text118">
              <span>© 2022 Farmino | All Rights Reserved</span>
            </span>
            <div class="home-frame553">
              <div class="home-learnmore">
                <span class="home-text120"><span>Quick links</span></span>
                <span class="home-text122">
                  <span>
                    <span>Home</span>
                    <br />
                    <span>About</span>
                    <br />
                    <span>Contact</span>
                    <br />
                    <span>Why choose us</span>
                    <br />
                    <span>Privacy Policy</span>
                    <br />
                    <span>Team</span>
                  </span>
                </span>
              </div>
              <div class="home-ticketsandbooking">
                <span class="home-text135"><span>Products</span></span>
                <span class="home-text137">
                  <span>
                    <span>Tomatoes</span>
                    <br />
                    <span>Mangoes</span>
                    <br />
                    <span>Red cheries</span>
                    <br />
                    <span>Banana</span>
                    <br />
                    <span>Carrots</span>
                  </span>
                </span>
              </div>
              <div class="home-contact-us">
                <span class="home-text148"><span>Contact Us</span></span>
                <div class="home-group50">
                  <div class="home-group49">
                    <span class="home-text150">
                      <span>Business inquiry:</span>
                    </span>
                    <span class="home-text152"><span>123-456-7890</span></span>
                  </div>
                  <div class="home-group48">
                    <span class="home-text154"><span>Customer care:</span></span>
                    <span class="home-text156"><span>123-456-7890</span></span>
                  </div>
                </div>
              </div>
              <div class="home-social">
                <span class="home-text158"><span>Social</span></span>
                <div class="home-frame521">
                  <div class="home-bxlfacebook">
                    <img
                      src="/pathi203-3s2.svg"
                      alt="PathI203"
                      class="home-path"
                    />
                  </div>
                  <div class="home-instagramlogo">
                    <img
                      src="/shapei203-08mg.svg"
                      alt="ShapeI203"
                      class="home-shape"
                    />
                  </div>
                  <div class="home-bxltwitter">
                    <img
                      src="/pathi203-blbw.svg"
                      alt="PathI203"
                      class="home-path1"
                    />
                  </div>
                  <div class="home-youtubelogo">
                    <img
                      src="/shapei203-6ezn.svg"
                      alt="ShapeI203"
                      class="home-shape1"
                    />
                  </div>
                </div>
              </div>
            </div>
            <img src="." alt="DividerI203" class="home-divider" />
            <div class="home-group272">
              <img
                src="/framei203-3fue.svg"
                alt="FrameI203"
                class="home-frame1"
              />
              <span class="home-text160"><span>Farmino</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  